<table class="table table-hover table-condensed table-striped">
    <thead class="">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Stock</th>
            <th>Supplier price</th>
            <th>Listed price</th>
            <th>Sold</th>
            <th>Ordered</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Socks</td>
            <td>597</td>
            <td>10.99$</td>
            <td>15.99$</td>
            <td>1000</td>
            <td>1597</td>
            <td>2017-20-20</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Socks</td>
            <td>597</td>
            <td>10.99$</td>
            <td>15.99$</td>
            <td>1000</td>
            <td>1597</td>
            <td>2017-20-20</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Socks</td>
            <td>597</td>
            <td>10.99$</td>
            <td>15.99$</td>
            <td>1000</td>
            <td>1597</td>
            <td>2017-20-20</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Socks</td>
            <td>597</td>
            <td>10.99$</td>
            <td>15.99$</td>
            <td>1000</td>
            <td>1597</td>
            <td>2017-20-20</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Socks</td>
            <td>597</td>
            <td>10.99$</td>
            <td>15.99$</td>
            <td>1000</td>
            <td>1597</td>
            <td>2017-20-20</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Socks</td>
            <td>597</td>
            <td>10.99$</td>
            <td>15.99$</td>
            <td>1000</td>
            <td>1597</td>
            <td>2017-20-20</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Socks</td>
            <td>597</td>
            <td>10.99$</td>
            <td>15.99$</td>
            <td>1000</td>
            <td>1597</td>
            <td>2017-20-20</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Socks</td>
            <td>597</td>
            <td>10.99$</td>
            <td>15.99$</td>
            <td>1000</td>
            <td>1597</td>
            <td>2017-20-20</td>
        </tr>
    </tbody>
</table>