<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
@using (Html.BeginForm("Add", "User", FormMethod.Post, new { id = "UserForma" }))
{
    <input type="text" name="name" placeholder="Name"/>
    <input type="text" name="surname" placeholder="Surname" />
    <input type="submit" />
}

<input id="getUsers" type="button" value="Get user" />

<table>
    <thead>
        <tr>
            <td>
                Name
            </td>
            <td>
                Surname
            </td>
        </tr>
    </thead>
    <tbody class="table" id="lentele">

    </tbody>
</table>

<script>

    var getUsers = function () {
        $.ajax({
            beforeSend: function () {
                alert('beforesend');
            },
            type: "GET",
            url: '@Url.Action("GetUsers", "User")',
            data: $("#userForma").serialize(), // serializes the form's elements.
            success: function (data) {
                $('#lentele').children().remove();
                $.each(data, function (index, value) {
                    var row = '<tr><td>' + value.name + '</td><td>' + value.surname + '</td></tr>';
                    $('#lentele').append(row);
                });
            },
            error: function (data) {
                alert(data.responseText);
                 
            }
        });

    }
    $('#getUsers').hover(function () {
        $(this).css('background', 'red')
    });
    $('#getUsers').click(function () {
        getUsers();
    });
    $("#UserForma").submit(function (e) {

        var url = "@Url.Action("Add", "User")"; // the script where you handle the form input.

        $.ajax({
            type: "POST",
            url: url,
            data: $("#UserForma").serialize(), // serializes the form's elements.
            success: function (data) {
                alert(data); // show response from the php script.
                getUsers();
            },
            error: function (data) {
                alert(data);
            }
        });

        e.preventDefault(); // avoid to execute the actual submit of the form.
    });
</script>